.cards.block {
    padding-top: 2rem;
}

.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 24px;
}

.cards > ul > li {
    /* border: 1px solid #dadada;
    background-color: var(--background-color); */

    .cards-card-body img {
        width: unset;
        aspect-ratio: unset;
        object-fit: unset;
    }
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards > ul > li img {
    width: 100%;
    /* aspect-ratio: 4 / 3; */
    object-fit: cover;
}

.cards.block.order-price {
    > ul {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}

.cards.block.no-image.col-4 {
    > ul {
        grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
    }
}

.cards.block.no-image {
    .cards-card-body {
        h3 {
            margin-top: 0;
        }

        .button-container {
            a:any-link {
                margin-top: 0;
                background-color: transparent;
                color: var(--link-color);
                border: none;
                padding: 0;
            }
        }
    }
}
